{{ define "main" }}
<div id="home-jumbotron" class="jumbotron text-center">
    <h3>Projects</h3>
    I like to hack on projects. Most of my work is on <a href="https://github.com/amirgamil">GitHub</a>.
    <br></br>
    I've built quite a few. Some (non-exhaustive) fun ones are:
    <p><a href="https://zkpin.xyz/">zkpin</a> - trust-minimized commitment pools with zkSNARKs</p>
    <p>Mirror NFT - a credibly neutral google forms experience for <a href="https://mirror.xyz/">Mirror</a>. Allows writers to securely and trustlessly collect anonymous feedback from NFT holders with zkSNARKs (not os sadly).</p>
    <p><a href="https://pubkeyrecover.amirbolous.com/">pubkeyrecover</a> - a smol utility tool to recover Ethereum public keys from raw tx data</p>
    <p><a href="https://www.zkcrush.xyz/">zkCrush</a> - a (mostly joke?) toy at telling your crush you like them with zero-knowledge</p>
    <p><a href="https://handbookto.life/">Hanndbook to Life</a> - a library curating the best of what people have learned in one place for figuring out how to live your life</p>
    <p><a href="https://github.com/amirgamil/accountable">Accountable</a> - stay accountable for your tasks/goals by putting money on the line</p>
    <p><a href="https://twitter.com/amirbolous/status/1515388628326764549?s=20&t=__4e2td1EWaGkSPyubMgzA">Twitter social graph</a></p>
    <p><a href="http://curius.amirbolous.com/">Apollo-Curius</a> - search engine for everything I read on <a href="https://curius.app/amir-gamil">Curius</a></p>
    <p><a href="https://rabbitholeathon.com/">Rabbitholeathon</a></p>
    <p><a href="https://github.com/amirgamil/ndnft">NDNFT</a> - an experiment at higher-dimensional NFTs</p>
    <p><a href="https://github.com/amirgamil/thalia">Thalia</a> - on-chain music composition</p>
    <p><a href="https://github.com/amirgamil">Apollo</a> - web3 recommendation engine (sadly this is not public yet)</p>
    <p><a href="https://www.glideapps.com/research/ai-generator">Glide AI App Generator</a></p>
    <p>
        <a href="https://flora.amirbolous.com/">Flora</a> - a virtual world and digital garden to explore all of my data
        powered by a custom, hand-written full-text and semantic search engine to surface related records (written in
        Poseidon)
    </p>
    <p>
        <a href="https://apollo.amirbolous.com">Apollo</a> - a Unix-style personal search engine and web crawler for your
        digital footprint, <a href="https://github.com/amirgamil/apollo">source</a> (written in Poseidon)
    </p>
    <p>
        <a href="https://mymercury.surge.sh">Mercury</a> - a serverless, persistent, and minimalist note dump that works
        fully ofline (written in Poseidon)
    </p>
    <p>
        <a href="https://zeus.amirbolous.com">Zeus</a> - a tool for creating, storing, and sharing customizeable lists
        composed of markdown elements (written in Poseidon)
    </p>
    <p>
        <a href="https://welkin.surge.sh/">Welkin</a> - procedurally generate different artistic drawings of
        cites/skylines that look hella pretty (written in Poseidon)
    </p>
    <p><a href="https://gameoflifeposeidon.surge.sh/">Conway&apos;s game of life</a> (written in Poseidon)</p>
    <p>
        <a href="https://github.com/amirgamil/poseidon">Poseidon</a> - a web framework (similar to React, Backbone, and
        Torus) from scratch in Javascript
    </p>
    <p><a href="https://lispy.amirbolous.com">Lispy</a> - a programming language inspired by Scheme and Clojure</p>
    <p><a href="https://vibely.fun/">Vibely</a>- learn song lyrics quickly so you can vibe</p>
    <p>
        <a href="https://carly.amirbolous.com/)">Carly</a> - a tool to send my family and friends authentic digital cards
        in the style of handwritten messages
    </p>
    <p><a href="https://athena.amirbolous.com">Athena</a> - personal mind palace</p>
    <p><a href="http://dadjokes-rosy.vercel.app/">Puntastic</a> for finding great dad jokes</p>
</div>
{{ end }}
