<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=Space+Mono&display=swap"
    rel="stylesheet"
/>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
{{ $title := print .Title }} {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>
{{ if .Params.math }}{{ partial "helpers/katex.html" . }}{{ end }}
