{{ define "main" }}
<div id="home-jumbotron" class="jumbotron text-center">
  <h1 class="title"><u>{{ .Site.Title }}</u></h1>
  <div class="description">
    <p class="text-center">
      We are <strong>Personae Labs</strong>, an R&D lab investigating the future of human expression online. We believe that the availability of advanced cryptography in consumer
      devices and the rise of public social networks will completely alter the shape of digital society. Read our full <a href="/posts/personae">manifesto</a>.
    </p>
    <p>
      If you’re excited by our mission, please reach out on our <a href="https://discord.gg/Sm5FaHJuY4">discord</a> or <a href="https://twitter.com/personae_labs">twitter</a>: our
      aim is to ensure everyone is included in the future of identity. To that end, we are especially excited to hear from traditionally underrepresented groups in technology,
      design, product development, research, or writing, such as women or bipoc.
    </p>
  </div>
</div>
{{ end }}
