html {
  margin: 0 auto;
}
html,
body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  background: #eeeff2;
  color: black;
  --background-block: #eee;
}

main {
  padding: 0 1rem 2rem 1rem;
  max-width: 750px;
  height: 100%;
  font-family: "EB Garamond", serif;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

.mainPage,
.jumbotron,
.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexCenter {
  width: 100%;
}

.letter {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

/* Amir's footnote changes */
.footnote-ref {
  padding: 0.05em 0.2em;
  font-size: 0.8em;
}

#notes {
  font-size: 1.2em;
}

.footnotes {
  font-size: 0.8em;
}

.footnotes ol {
  padding: 0em 1em;
}
/* Amir's footnote changes end */

p,
li {
  font-size: 1.2em;
  line-height: 1.5em;
}

ol {
  font-size: 1em;
}

ul {
  font-size: 1em;
}

.footer {
  padding: 1em 0;
  margin-top: auto;
  width: 100%;
  text-align: center;
}

@media (max-width: 750px) {
  nav {
    flex-grow: 0.2;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    padding: 2rem;
  }
}

@media (min-width: 750px) {
  nav {
    flex-grow: 0.2;
    display: flex;
    justify-content: flex-end;
    font-size: 1.2em;
    padding: 2rem;
  }
}

.nav-link {
  padding: 0.5rem;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: black;
  background-color: #f6d2e0;
}

.letter-head {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}

.letter-head-address {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: auto;
}

pre,
code {
  color: var(--foreground-default);
}

img {
  max-width: 100%;
}

pre {
  display: block;
  margin: 1.5em 0;
  background: var(--background-block);
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  display: flex;
  flex-direction: row;
}

pre > code {
  line-height: 1.5em;
  flex-shrink: 0;
  display: block;
  padding: 1em;
}

code {
  background: var(--background-block);
}

p code {
  padding: 3px 5px;
}

blockquote {
  font-style: italic;
}

table {
  border-width: 1px;
  border-color: black;
}

#TableOfContents {
  display: block;
  background: #f6d2e0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.2em;
}
#TableOfContents ul {
  padding-left: 0;
}
#TableOfContents ul:not(:first-child) {
  padding-left: 2rem;
  font-size: 90%;
}
#TableOfContents li {
  display: inherit;
  color: black;
}
#TableOfContents li a {
  color: inherit;
  text-align: left;
  padding: 0;
}
